{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 110,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "tabWidth": 4,
  "semi":true 
}

